@charset "utf-8";
#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#wrap_banner {
	position: relative;
	width: 1280px;
	height: 712px;
	background: url() scroll no-repeat top center ;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: 1;
}

#wrap_banner:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

/*顶部logo*/

#wrap_title {
	position: fixed;
	width: 1230px;
	text-align: left;
	text-indent: 0px;
	font-family: "LiSu"; 
	font-size: 40px;
	letter-spacing: 3px;
	margin: 0;
	padding: 20px 20px 15px 30px;
	background-color: rgba(16,37,56,1);
	color: #fff;
	z-index: 120;
}

#wrap_logo {
	position: fixed;
                left: 1100px; 
	top: 10px;
	text-align: center;
	color: #fff;
	z-index: 140;
}


#wrap_logo img {
	width: 94px;
	height: 56px;
	display: block;
}

#wrap .menu_tab {
	position: absolute;
	top: 30%;
	margin-top: -55px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 110px;
	text-align: center;
}

#wrap .menu_tab .tab {
	display: inline-block;
	vertical-align: top;
	width: 110px;
	height: 120px;
	margin: 0 20px;
	background: rgba(155, 0, 0, 0.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#wrap .menu_tab .tab:hover {
	background: rgba(155, 0, 0, 0.8);
}

#wrap .menu_tab .tab img {
	display: block;
	width: 70px;
	height: 70px;
	margin: 10px auto 8px;
}

#wrap .menu_tab .tab span {
	display: block;
	color: #fff;
	font-family: SimHei;
	font-size: 20px;
}


/*首页内容*/

#index_content {
	z-index: 10;
}

#index_content .block1 {
	position: relative;
	width: 1220px;
	padding: 10px 30px;
	background-color: #fff;
}

#index_content .block2 {
	position: relative;
	width: 1220px;
	padding: 10px 30px;
	background-color: rgb(240, 240, 240);
}

#index_content .block1 h1 {
	position: relative;
	left: 0;
	bottom: 0;
	height: 56px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 56px;
	font-size: 30px;
	color: #000;
	text-align: left;
	border-bottom-style: solid;
	border-width: medium;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#index_content .block1 p {
	position: relative;
	left: 0;
	bottom: 0;
	height: 100%;
	margin-top: 0;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	text-indent: 50px;
	text-align: left;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#index_content .block2 h1 {
	position: relative;
	left: 0;
	bottom: 0;
	height: 56px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 56px;
	font-size: 30px;
	color: #000;
	text-align: left;
	border-bottom-style: solid;
	border-width: medium;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#index_content .block2 p {
	position: relative;
	left: 0;
	bottom: 0;
	height: 100%;
	margin-top: 0;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	text-indent: 50px;
	text-align: left;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*球队动态*/

#newstable {
	position: relative;
	margin: 0 30px;
}

#newsdate {
	font-size: 20px;
	text-align: right;
}

#newstitle {
	font-size: 20px;
	text-align: left;
	text-indent: 52px;
}

#newstext {
	font-size: 16px;
	text-align: left;
	text-indent: 32px;
	line-height: 1.5;
    	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
}

#nextmatch p {
	font-size: 16px;
	color: #000;
	text-align: center;
	margin-top: 25px;
}

/*关于我们*/
#about {
	position: relative;
	margin: 0 300px;
	width: 680px;
}

#about td {
	text-align: center;
}

#about .container {
	position: relative;
	left: 25%;
	width: 50%;
}

#about .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #CD5C3A;
}

#about .container:hover .overlay {
	opacity: 1;
}

#about .overlay_text {
	color: white;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}


/*首页底部*/

#copyright {
	position: relative;
	width: 1280px;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	background-color: rgb(240, 240, 240);
}

#copyright p {
	position: relative;
	line-height: 2;
	color: #000;
}

#copyright p a {
	color: #000;
}

#page_title {
	position: relative;
	text-align: center;
	font-size: 40;
	color: #000;
}