@charset "utf-8";
#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#wrap_banner {
	position: relative;
	width: 1280px;
	height: 712px;
	background: url() scroll no-repeat top center ;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: 1;
}

/*顶部logo*/

#wrap_title {
	position: fixed;
	width: 1230px;
	text-align: left;
	text-indent: 0px;
	font-family: "LiSu"; 
	font-size: 40px;
	letter-spacing: 3px;
	margin: 0;
	padding: 20px 20px 15px 30px;
	background-color: rgba(16,37,56,1);
	color: #fff;
	z-index: 120;
}

#wrap_logo {
	position: fixed;
                left: 1100px; 
	top: 10px;
	text-align: center;
	color: #fff;
	z-index: 140;
}


#wrap_logo img {
	width: 94px;
	height: 56px;
	display: block;
}

.page_title {
	position: relative; 
	top: 100px;
	width: 100%;
	padding: 0, 0, 20px;
	text-align: center; 
	font-size: 30px; 

}

#table {
	position: relative; 
	top: 110px;
	margin: 0; 
	width: 1280px;
	padding: 0 100px;
	font-size: 16px;
	
}

#table tr {
	height: 28px;

}

#table tr:nth-child(even) {
	background-color: rgb(240, 240, 240);
}

#table tr th {
	vertical-align: middle; 
	text-align: center;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}

#table .date {
	vertical-align: middle; 
	text-align: left;
	padding-left: 40px;
}

#table .game {
	vertical-align: middle; 
	text-align: center;
}

#table .opp {
	width: 100px;
	vertical-align: middle; 
	text-align: center;
}

#table .result {
	width: 100px;
	vertical-align: middle; 
	text-align: center;
}

#table .result img {
	position: relative;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 0;
	vertical-align: top; 
	float: left;
	width: 17px;
	height: 17px;
}

#table .scorer {
	vertical-align: middle; 
	text-align: center;
}


/*底部*/

#copyright {
	position: relative;
	width: 1280px;
	margin-top: 160px;
	padding-top: 10px;
	text-align: center;
	background-color: rgb(240, 240, 240);
}

#copyright p {
	position: relative;
	line-height: 2;
	color: #000;
}

#copyright p a {
	color: #000;
}