@charset "utf-8";
#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#wrap_banner {
	position: relative;
	width: 1280px;
	height: 712px;
	background: url() scroll no-repeat top center ;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: 1;
}


/*顶部logo*/

#wrap_title {
	position: fixed;
	width: 1230px;
	text-align: left;
	text-indent: 0px;
	font-family: "LiSu"; 
	font-size: 40px;
	letter-spacing: 3px;
	margin: 0;
	padding: 20px 20px 15px 30px;
	background-color: rgba(16,37,56,1);
	color: #fff;
	z-index: 120;
}

#wrap_logo {
	position: fixed;
                left: 1100px; 
	top: 10px;
	text-align: center;
	color: #fff;
	z-index: 140;
}


#wrap_logo img {
	width: 94px;
	height: 56px;
	display: block;
}

.page_title {
	position: relative; 
	top: 100px;
	width: 100%;
	text-align: center; 
	font-size: 30px; 

}

.page_sub_title {
	position: relative; 
	top: 110px;
	width: 100%;
	text-align: center; 
	font-size: 24px; 
}

#buttons {
	position: relative; 
	top: 120px;
	width: 100%; 
	text-align: center; 
}

#buttons button {
	font-size: 14px;
}

#table {
	position: relative; 
	top: 130px;
	left: 80px;
	width: 1080px;
	padding: 0 0;
	font-size: 16px;
	text-align: center;
}

#table tr {
	height: 28px;
}

#table tr:nth-child(even) {
	background-color: rgb(240, 240, 240);
}

#table tr th {
	vertical-align: middle; 
	text-align: center;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}

/*底部*/

#copyright {
	position: relative;
	width: 1280px;
	margin-top: 250px;
	padding-top: 10px;
	text-align: center;
	background-color: rgb(240, 240, 240);
}

#copyright p {
	line-height: 2;
	color: #000;
}

#copyright p a {
	color: #000;
}